html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header.dark-mode {
    background: #333333;
}

nav.dark-mode ul li a {
    color: #ffffff;
}

.card.dark-mode, .card-work.dark-mode, .colorful-form.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.scroll-link.dark-mode:hover {
    color: #bbb;
}

/* Add styles for main and footer elements */
main.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

footer.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.redes.dark-mode p {
    color: #ffffff;
}

.redes.dark-mode img {
    filter: invert(1);
}

main.dark-mode label{
    color: white;
}

main.dark-mode p {
    color: white;
}

main.dark-mode h3 {
    color: white;
}


.scroll-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.scroll-link:hover {
    color: #ddd;
}

header {
    width: 100%;
    height: 71px;  
}

.logo p {
    margin: 0;
    padding: 20px;
    float: left;
    font-family: 'Honk', system-ui;
    font-size: 27px;
    color: white;
}

nav {
    position: fixed;
    width: 100%;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.scroll-up-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.scroll-up-icon img {
    width: 100%;
    height: auto;
}

#boton-up {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  #boton-up:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  #boton-up:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  #boton-up::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  #boton-up:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  

 
  

.home {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/hombre-alto-angulo-que-trabaja-computadora-portatil_23-2150287676.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portada ul {
    font-family: 'Protest Strike', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

.portada ul li {
    font-size: 4vw;
}

.about {
    font-family: Arial, sans-serif;
    padding: 50px 0;
    text-align: center;
}

.card {
    padding: 20px;
    margin: auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0.5, 3, 3, 0.5);
}

.card-content {
    padding: 20px;
}

.card-content hr {
    height: 2px;
    background-color: blue;
    margin: 20px 0;
}

.card-content img {
    width: 30%;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.card-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-content ul li {
    font-family: 'Protest Strike', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.card-content p {
    text-align: center;
    font-family: 'Protest Strike', sans-serif;
}

#boton-curri {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
   }
   
   #boton-curri span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   #boton-curri:hover span {
    color: black;
   }
   
   #boton-curri::before,
   #boton-curri::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   #boton-curri::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   #boton-curri:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
.work {
    padding: 50px 20px;
    text-align: center;
    background-image: url('img/blurry-gradient-haikei.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.work h2 {
    font-size: 3vw;
    font-family: 'Protest Strike', sans-serif;
    margin-bottom: 30px;
    color: #333;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card-work {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 60%;
    margin: auto;
}

.card-work:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-work img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card-work p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
}

.card-work h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    .work h2 {
        font-size: 5vw;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .card-work {
        margin: 0 auto;
        width: 80%;
    }

    .card-work p, .card-work h3 {
        font-size: 14px;
    }
}


.contact {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.colorful-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-input {
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

textarea.form-input {
    height: 100px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6f69;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #ff5f59;
}

.redes {
    padding: 20px;
    text-align: center;
    background-image: url('img/blurry-gradient-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.redes p {
    font-family: 'Protest Strike', sans-serif;
    font-size: 30px;
}

.redes img {
    width: 30px;
    margin: 10px;
    display: inline-block;
}

/* Responsive adjustments */

@media only screen and (max-width: 768px) {
    .portada ul li {
        font-size: 6vw;
    }

    .card-content img {
        width: 50%;
    }

    .work h2 {
        font-size: 5vw;
    }

    .redes p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .portada ul li {
        font-size: 8vw;
    }

    .card {
        width: 90%;
    }

    .redes img {
        margin: 5px;
    }
}
